@charset "UTF-8";

body {
    background-color: midnightblue;
}

div#score_block {
    width: 800px;
    height: 1.5em;
    display: block;
    margin: 20px auto;
    background-color: white;
    line-height: 1.5em;
    vertical-align: middle;
    font-size: 18pt;
}

canvas {
    background-color: black;
    width: 800px;
    height: 600px;
    display: block;
    margin: 20px auto;
}